# Files
/ch4-classification/quiz24.md
.DS_Store
.swp
*Rapp.history
*.Rhistory
*.ipynb_checkpoints
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz

# Folders
/references
/ch4-classification/4.6-gaussian-discriminant-analysis-one-variable
/ch4-classification/4.7-gaussian-discriminant-analysis-many-variables
/ch4-classification/4.8-quadratic-discriminant-analysis-and-naive-bayes
/ch4-classification/4.R-classification-in-R
/ch5-resampling-methods
/ch6-linear-model-selection-and-regularization
/ch7-moving-beyond-linearity
/ch8-tree-based-methods
/ch9-support-vector-machines
/ch10-unsupervised-learning

# Media files
*.mp4
#*.pdf
