# Files
.DS_Store
.swp
*Rapp.history
*.Rhistory
*.ipynb_checkpoints
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz

# Folders
6.8-tuning-parameter-selection
6.9-dimension-reduction-methods
6.10-principal-components-regression-and-partial-least-squares
quiz43.md
/ch7-moving-beyond-linearity
/ch8-tree-based-methods
/ch9-support-vector-machines
/ch10-unsupervised-learning
/references

# Media files
*.mp4
#*.pdf
